  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    /* overflow: hidden;  */
    height: 600px;
    margin: 0 auto;
  }
  .carousel {
    position: relative;
    width: 100vw;
  }

  .carousel img {
    /* border: 3px solid grey;
    border-radius: 12px; */
    padding: 10%;
    width: 60%;
  }
  .prev,
  .next {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: 100vw;
  }

  .slide {
    flex: 0 0 25%; 
    text-align: center;
    /* margin: 0 10px; */
    height: 475px;
    justify-content: center;
    align-items: center;
    display: flex;

  }

  .slide-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide-content h3 {
    font-size: 1em;
    width: 70%;
  }
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
   /* .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    overflow: hidden; 
  }
  
  .carousel {
    position: relative;
    width: 100%;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out; 
  }
  
  .slide {
    flex: 0 0 33.33%; 
    padding: 10px;
    text-align: center;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  

  .carousel img {
    border: 3px solid grey;
    border-radius: 12px;
    padding: 10%;
    width: 70px;
}

.carousel h3 {
    width: 350px;
} */